/WebSocketData.class
/WebSocketMessage.class
/WebSocketSession.class
/WebSocketSessionIntf.class
/WebSocketEngine.class
/WebSocketAdapter.class
/MessagingAdapter.class
/MessagingLogic.class
/UserSession.class
/Repository.class
