<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   
  <display-name>TheBusinessAssistant</display-name>
  <description>Customer login to gain access to lots of specific data</description>

  <!-- == Servlet definitions ============================================ -->

	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
		<init-param>
			<param-name>dirAllowed</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>be.tba.servlets.LoginServlet</servlet-class>
	<init-param>
        <param-name>dirAllowed</param-name>
        <param-value>false</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>be.tba.servlets.AdminLoginServlet</servlet-class>
	<init-param>
        <param-name>dirAllowed</param-name>
        <param-value>false</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>be.tba.servlets.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
	<init-param>
        <param-name>dirAllowed</param-name>
        <param-value>false</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>AdminDispatchServlet</servlet-name>
    <servlet-class>be.tba.servlets.AdminDispatchServlet</servlet-class>
	<init-param>
        <param-name>dirAllowed</param-name>
        <param-value>false</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>CustomerDispatchServlet</servlet-name>
    <servlet-class>be.tba.servlets.CustomerDispatchServlet</servlet-class>
	<init-param>
        <param-name>dirAllowed</param-name>
        <param-value>false</param-value>
    </init-param>
  </servlet>
  
  <servlet>
     <servlet-name>FileDownloadServlet</servlet-name>
     <servlet-class>be.tba.servlets.FileDownloadServlet</servlet-class>
	<init-param>
        <param-name>dirAllowed</param-name>
        <param-value>false</param-value>
    </init-param>
  </servlet>
  
  <servlet>
     <servlet-name>CustFileDownloadServlet</servlet-name>
     <servlet-class>be.tba.servlets.CustFileDownloadServlet</servlet-class>
    <init-param>
        <param-name>dirAllowed</param-name>
        <param-value>false</param-value>
    </init-param>
  </servlet>
  
  <servlet>
     <servlet-name>IntertelServlet</servlet-name>
     <servlet-class>be.tba.servlets.IntertelServlet</servlet-class>
	<init-param>
        <param-name>dirAllowed</param-name>
        <param-value>false</param-value>
    </init-param>
   </servlet>

  <servlet>
     <servlet-name>TbaWebSocketServlet</servlet-name>
     <servlet-class>be.tba.servlets.TbaWebSocketServlet</servlet-class>
	<init-param>
        <param-name>dirAllowed</param-name>
        <param-value>false</param-value>
    </init-param>
   </servlet>
  
  <!-- == Servlet mappings ================================================ -->

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>

<!--  <servlet-mapping>
    <servlet-name>CallLogServlet</servlet-name>
    <url-pattern>/CallLog</url-pattern>
  </servlet-mapping> -->
  
  <servlet-mapping>
    <servlet-name>AdminDispatchServlet</servlet-name>
    <url-pattern>/AdminDispatch</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CustomerDispatchServlet</servlet-name>
    <url-pattern>/CustomerDispatch</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
     <servlet-name>FileDownloadServlet</servlet-name>
     <url-pattern>/download</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
     <servlet-name>CustFileDownloadServlet</servlet-name>
     <url-pattern>/custdownload</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
     <servlet-name>IntertelServlet</servlet-name>
     <url-pattern>/intertel</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
     <servlet-name>TbaWebSocketServlet</servlet-name>
     <url-pattern>/ws</url-pattern>
  </servlet-mapping>

  <!-- ==================================================================== -->

  <session-config>
    <session-timeout>40</session-timeout>
  </session-config>


  <!-- ==================================================================== -->


  <!-- The Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>


  <!-- MYSQL data base resource -->
  <resource-ref id="MySqlDS">
    <res-ref-name>jdbc/MySqlDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

   
  <!-- Mailer resource -->
  <resource-ref id="myMail">
    <res-ref-name>mail/Session</res-ref-name> 
    <res-type>javax.mail.Session</res-type> 
    <res-auth>Container</res-auth> 
  </resource-ref> 

  <!--
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Everything in the webapp</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint> -->
</web-app>

