/*
#9fc5e6 light blauw
#488FCD midden blauw
#fbc27d light orange
#F89920 orange
#FF0000 rood
#22205F donker blauw
*/


.topMenu { color: #FFFFFF; text-decoration : none; font-size : 13pt; font-family: 'Source Sans Pro', sans-serif, sans-serif;}
a.topMenu:link, a.topMenu:visited, a.topMenu:active { color: #FFFFFF; 
                                             text-decoration : none;
                                             font-size : 13pt; 
                                             font-family: 'Source Sans Pro', sans-serif, sans-serif;}
a.topMenu:hover { color: #F89920; }
a.bodytekst:link, a.bodytekst:visited, a.bodytekst:active { color: #000000; font-size : 15px; font-family: 'Source Sans Pro', sans-serif}
a.bodytekst:hover { color: #F89920; }

.bodytitle { font-family: 'Source Sans Pro', sans-serif; color: #22205F; font-size : 25px; font-weight: 500;}
.bodysubtitle { font-family: 'Source Sans Pro', sans-serif; color: #22205F; font-size : 21px; font-weight: 500; }
.bodysubsubtitle { font-family: 'Source Sans Pro', sans-serif; color: #22205F; font-size : 17px; font-weight: 500; }
.bodysubsubredtitle { font-family: 'Source Sans Pro', sans-serif; color: #FF0000; font-size : 17px; font-weight: 500; }
.bodyredbold { font-family: 'Source Sans Pro', sans-serif; color: #FF0000; font-size : 15px; font-weight: 400; }
.bodytekst { font-family: 'Source Sans Pro', sans-serif; color: #242424; font-size : 15px; line-height: 20px; font-weight: 400}
.bodybold { font-family: 'Source Sans Pro', sans-serif; color: #000000; font-weight : bold;  font-size : 15px; line-height: 20px; }
.bodygreenbold { font-family: 'Source Sans Pro', sans-serif; font-weight : bold; color: #48771E; font-size : 15px; line-height: 20px; }
.findtekst { font-family: 'Source Sans Pro', sans-serif; color: #000000; font-weight : bold; text-decoration : underline; font-size : 15px; line-height: 20px;}


body {margin:0px; width:100%;font-family:'Source Sans Pro', sans-serif; color: #242424; font-size : 15px; line-height: 20px; font-weight: 400;}
a.norm{color:#22205F;
    text-decoration:none;
    font-size : 13pt; 
    font-family: "Arial", sans-serif;
    padding: 5px;}
a.norm:hover{color:#FFFFFF}
td.menu{background:#9fc5e6;color:#9fc5e6}
table.menu
{
background:#9fc5e6;
color:#9fc5e6;
font-size:100%;
position:absolute;
visibility:hidden;
padding:5px;
}

#content{position:relative; width:100%; height:19px; background-color:#F89920;}
#menu1 {position:absolute; left:20px; top:0px;}
#menu2 {position:absolute; left:120px; top:0px;}
#menu3 {position:absolute; left:240px; top:0px;}
#menu4 {position:absolute; left:360px; top:0px;}
#menu5 {position:absolute; left:440px; top:0px;}
.fademenu {position:relative; font-family: 'Source Sans Pro', sans-serif; cursor:pointer; font-weight:bold; color:#ffffff; padding:2px; z-index:999; font-size:12px;}
.fadesub {position:relative; font-family: 'Source Sans Pro', sans-serif; width:120px; background-color:#488FCD; visibility:hidden; cursor:pointer; padding:7px; z-index:999;}
.fadesub a {color:#ffffff; font-family: 'Source Sans Pro', sans-serif; text-decoration:none; font-size:12px;}
.fadesub a:hover{color:#F89920; font-family: 'Source Sans Pro', sans-serif; text-decoration:none;  font-size:12px;}
.disfadesub {color:#777777; font-family: 'Source Sans Pro', sans-serif; text-decoration:none; font-size:12px;}

/* The tbacontainer */
.tbacontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  border-color: #488FCD;
  border-width: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.tbacontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.tbacheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.tbacontainer:hover input ~ .tbacheckmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.tbacontainer input:checked ~ .tbacheckmark {
  background-color: #488FCD;
}

/* Create the tbacheckmark/indicator (hidden when not checked) */
.tbacheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the tbacheckmark when checked */
.tbacontainer input:checked ~ .tbacheckmark:after {
  display: block;
}

/* Style the tbacheckmark/indicator */
.tbacontainer .tbacheckmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.tbabutton {
	font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    background: #488FCD;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.tbabutton:hover {
	background: #9fc5e6;
	color: black;
}

.tbabuttonorange {
	font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    background: #F89920;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.tbabuttonorange:hover {
    background: #fbc27d;
    color: black;
}

.trBlock{
	font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
    background: #488FCD;
    border: none;
    color: white;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}
.trBlock:hover {
    background: #9fc5e6;
    color: black;
}

.tbaChat{
	font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
    border-width: 2px;
    width: 300px;
    background: #488FCD;
    border: none;
    color: white;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
}
.tbaChat:hover {
    background: #9fc5e6;
    color: black;
}

.tbaNotify{
	font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
    border-width: 2px;
    background: #488FCD;
    border: none;
    color: white;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
}
.tbaNotify:hover {
    background: #9fc5e6;
    color: black;
}

.tdborder {
border-radius: 10px;
border-width: 2px;
border-style: solid; 
border-color: #488FCD;
background-color:rgba(248, 153, 32, 0.2);
padding: 10px;
vertical-align: top;
}

/* The Modal (background) */
.tbaModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
border-radius: 10px;
border-width: 2px;
border-style: solid; 
border-color: #488FCD;
background-color:rgb(248, 205, 148);
vertical-align: top;
margin: auto;
padding: 10px;
width: 555px;
}

.old-modal-content {
border-radius: 5px;
border-width: 2px;
border-style: solid; 
border-color: #488FCD;
background-color:#FFFFFF;
vertical-align: top;
margin: auto;
padding: 10px;
width: 505px;
z-index: 1; /* Sit on top */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.tbatextarea {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 150px;
  padding: 12px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* checkbox slider*/
.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(79, 46, 220, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

/**********************************/
/* I don't know to use this on multiple toogle checkboxes, so I copied them, one for each */
#cbx1:checked + .toggle:before {
  background: #488FCD;
}
#cbx1:checked + .toggle span {
  background: #F89920;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx1:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

#cbx2:checked + .toggle:before {
  background: #488FCD;
}
#cbx2:checked + .toggle span {
  background: #F89920;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx2:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

#cbx3:checked + .toggle:before {
  background: #488FCD;
}
#cbx3:checked + .toggle span {
  background: #F89920;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx3:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

#cbx4:checked + .toggle:before {
  background: #488FCD;
}
#cbx4:checked + .toggle span {
  background: #F89920;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx4:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

#cbx5:checked + .toggle:before {
  background: #488FCD;
}
#cbx5:checked + .toggle span {
  background: #F89920;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx5:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

#cbx6:checked + .toggle:before {
  background: #488FCD;
}
#cbx6:checked + .toggle span {
  background: #F89920;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx6:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

#cbx7:checked + .toggle:before {
  background: #488FCD;
}
#cbx7:checked + .toggle span {
  background: #F89920;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx7:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

#cbx8:checked + .toggle:before {
  background: #488FCD;
}
#cbx8:checked + .toggle span {
  background: #F89920;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx8:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}
/**********************************/
.center {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 20px);
}

/* TBA combobox */
.tbaselectdiv {
  position: absolute;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.tbaselectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 2px;
  
  /*Adjust for position however you want*/
  
  top: 9px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

.tbaselectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  height: 30px;
  float: left;
  margin: 5px 0px;
  padding: 0px 30px 0px 10px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

/* disable the chrome build in date picker
#### Lukt mij niet !!! ####
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    display: none;
}
input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}*/

/* this is my date picker */
#position {
    position: relative;
}

.calendar {
    background: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0,.4);

    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
}

.date-input-fallback {
    display: none;
}

.js-no-type-date-support .date-input-native {
    display: none !important;
}

.js-no-type-date-support .date-input-fallback {
    display: inline-block !important;
}

@media ( min-width: 1025px ) {

    .date-input-fallback {
        display: inline-block;
    }
    .date-input-native {
        display: none;
    }
}

