
.welkom { font-family: "Harlow Solid Italic", sans-serif; font-size : 11pt; color: #FFFFFF; }

a.leftMenu:link, a.leftMenu:visited, a.leftMenu:active { color: #FFFFFF; 
                                             text-decoration : none;
                                             font-weight : bold;
                                             font-size : 9pt; 
                                             font-family: "Arial", sans-serif;}
a.leftMenu:hover { color: #F89920; }
a.leftSubMenu:link, a.leftSubMenu:visited, a.leftSubMenu:active { color: #FFFFFF; 
                                             text-decoration : none;
                                             font-size : 9pt; 
                                             font-family: "Arial", sans-serif;}
a.leftSubMenu:hover { color: #F89920; }
a.topMenu:link, a.topMenu:visited, a.topMenu:active { color: #FFFFFF; 
                                             text-decoration : none;
                                             font-size : 11pt; 
                                             font-family: "Arial", sans-serif;}
a.topMenu:hover { color: #F89920; }
a.bottom:link, a.bottom:visited, a.bottom:active { color: #FFFFFF; 
                                             text-decoration : none;
                                             font-size : 8pt; 
                                             font-family: "Arial", sans-serif;}
a.bottom:hover { color: #F89920; }
a.bodyMenu:link, a.bodyMenu:visited, a.bodyMenu:active { color: #22205F; 
                                             text-decoration : none;
                                             font-weight : bold;
                                             font-size : 10pt; 
                                             font-family: "Arial", sans-serif;}
a.bodyMenu:hover { color: #F89920; }
a.afmeldMenu:link, a.afmeldMenu:visited, a.afmeldMenu:active { color: #FFFFFF; 
                                             text-decoration : none;
                                             font-size : 11pt; 
                                             font-family: "Arial", sans-serif;}
a.afmeldMenu:hover { color: #22205F; }


a.bodytekst:link, a.bodytekst:visited, a.bodytekst:active { color: #000000; font-size : 8pt; font-family: "Arial"}
a.bodytekst:hover { color: #F89920; }

.bodytekst { font-family: "Arial"; color: #000000; font-size : 10pt; }
.bodybold { font-family: "Arial"; color: #000000; font-weight : bold;  font-size : 10pt; }
.bodytitle { font-family: "Times New Roman"; color: #22205F; font-size : 14pt; }
.bodysubtitle { font-family: "Times New Roman"; font-weight : bold; color: #22205F; font-size : 12pt; }
.bodysubsubtitle { font-family: "Times New Roman"; color: #22205F; font-size : 11pt; }
.bodyredbold { font-family: "Times New Roman"; color: #FF0000; font-size : 11pt; }
.bodygreenbold { font-family: "Arial"; font-weight : bold; color: #48771E; font-size : 10pt; }
.findtekst { font-family: "Arial"; color: #000000; font-weight : bold; text-decoration : underline; font-size : 10pt; }

.mtbtitle { font-family: "Arial"; color: #FF0000; font-size : 18pt; }

.admintitle { font-family: "Arial"; color: #22205F; font-size : 14pt; }
.adminsubtitle { font-family: "Arial"; color: #22205F; font-size : 11pt; }
.adminsubsubtitle { font-family: "Arial"; font-weight : bold; color: #22205F; font-size : 10pt; }
.arialred10 { font-family: "Arial"; font-weight : bold; color: #FF0000; font-size : 10pt; }

.bottom { font-family: "Arial"; color: #FFFFFF; font-size : 8pt; }
.mailtowhite { font-family: "Arial"; color: #FFFFFF; text-decoration : underline; font-size : 8pt; }
.mailtoblack { font-family: "Arial"; color: #000000; text-decoration : underline; font-size : 8pt; }
.tableheading { font-family: "Arial"; color: #000000; text-decoration : bold; font-size : 9pt; }
.topMenu { color: #FFFFFF; text-decoration : none; font-size : 11pt; font-family: "Arial", sans-serif;}
.afmeldMenu { color: #FFFFFF; text-decoration : none; font-size : 11pt; font-family: "Arial", sans-serif;}
.startingDate { color: #FF0000; text-decoration : none; font-weight : bold; font-size : 20pt; font-family: "Arial", sans-serif;}
.topMenuFix { color: #FFFFFF; text-decoration : none; font-size : 11pt; font-family: "Arial", sans-serif;}
.topMenuNoLnk:link, topMenuNoLnk:visited, topMenuNoLnk:active { color: #FFFFFF; 
                                             text-decoration : none;
                                             font-size : 11pt; 
                                             font-family: "Arial", sans-serif;}
.topMenuNoLnk:hover { color: #F89920; }

body {margin:0px; width:100%;font-family:arial;}
a.norm{color:#FFFFFF;
    text-decoration:none;
    font-size : 11pt; 
    font-family: "Arial", sans-serif;}
a.norm:hover{color:#F89920}
td.menu{background:#488FCD;color:#488FCD}
table.menu
{
background:#488FCD;
color:#488FCD;
font-size:100%;
position:absolute;
visibility:hidden;
}

#content{position:relative; width:100%; height:19px; background-color:#F89920;}
#menu1 {position:absolute; left:20px; top:0px;}
#menu2 {position:absolute; left:120px; top:0px;}
#menu3 {position:absolute; left:240px; top:0px;}
#menu4 {position:absolute; left:360px; top:0px;}
#menu5 {position:absolute; left:440px; top:0px;}
.fademenu {position:relative; font-family: "Arial"; cursor:pointer; font-weight:bold; color:#ffffff; padding:2px; z-index:999; font-size:12px;}
.fadesub {position:relative; font-family: "Arial"; width:120px; background-color:#488FCD; visibility:hidden; cursor:pointer; padding:7px; z-index:999;}
.fadesub a {color:#ffffff; font-family: "Arial"; text-decoration:none; font-size:12px;}
.fadesub a:hover{color:#F89920; font-family: "Arial"; text-decoration:none;  font-size:12px;}
.disfadesub {color:#777777; font-family: "Arial"; text-decoration:none; font-size:12px;}

.tbabutton {
    border-radius: 10px;
    background: #488FCD;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.tbabutton:hover {
	background: #9fc5e6;
	color: black;
}

.tbabuttonorange {
    border-radius: 10px;
    background: #F89920;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.tbabuttonorange:hover {
    background: #fbc27d;
    color: black;
}


.tbaChat{
    border-radius: 5px;
    width: 300px;
    background: #488FCD;
    border: none;
    color: white;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
}
.tbaChat:hover {
    background: #9fc5e6;
    color: black;
}

.tdborder {
border-radius: 10px;
border-style: solid; 
border-color: #488FCD;
background-color:rgba(248, 153, 32, 0.2);
padding: 10px;
vertical-align: top;
}

/* The Modal (background) */
.tbaModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
border-radius: 10px;
border-style: solid; 
border-color: #488FCD;
background-color:rgb(248, 205, 148);
vertical-align: top;
margin: auto;
padding: 10px;
width: 555px;
}

.old-modal-content {
border-radius: 5px;
border-style: solid; 
border-color: #488FCD;
background-color:#FFFFFF;
vertical-align: top;
margin: auto;
padding: 10px;
width: 505px;
z-index: 1; /* Sit on top */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.tbatextarea {
  width: 100%;
  height: 150px;
  padding: 12px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}


